.actions {
	width: 100%;
	@media #{$small-screen} {
		max-width: 600px;
		margin: 20px auto;
	}
	h2 {
		@include headerStyles;
		background: $mediumBlue;
		color: $white;
	}
	ul {
		@include listStyles;
		background: $white;
		color: $mediumBlue;
		i {
			@include warningIcon;
		}
		li {
			&:not(:last-child) {
				border-bottom: border(1px, $lightBlue);
			}
			p {
				padding-left: 20px;
			}
			a, a:visited {
				float: right;
				margin-top: 5px;
				text-decoration: none;
				color: $mediumBlue;
				font-weight: $normalWeight;
				&:hover {
					text-decoration: underline;
				}
			}
		} // end li
	} // end ul
}