.actions {
	width: 100%;
	@media #{$small-screen} {
		max-width: 600px;
		margin: 20px auto;
	}
	@media #{$medium-screen} {
		display: inline-block;
		vertical-align: middle;
	}
	h2 {
		@include headerStyles;
		background: $mediumBlue;
		color: $white;
	}
	ul {
		@include listStyles;
		width: 100%;
		display: table;
		box-sizing: $boxSizing;
		background: $white;
		color: $mediumBlue;
		i {
			@include warningIcon;
		}
		li {
			& > * {
				vertical-align: middle;
			}
			&:not(:last-child) {
				border-bottom: border(1px, $lightBlue);
			}
			p {
				padding-left: 30px;
				max-width: 225px;
				box-sizing: $boxSizing;
				@media (min-width: 400px) {
					max-width: 500px;
				}
			}
			a, a:visited {
				float: right;
				margin-top: 5px;
				text-decoration: none;
				color: $mediumBlue;
				font-weight: $normalWeight;
				&:hover {
					text-decoration: underline;
				}
			}
		} // end li
	} // end ul
}

.mystery-box {
	display: none;
	@media #{$medium-screen} {
		float: right;
		vertical-align: middle;
		display: inline-block;
		width: 22%;
		height: 267px;
		margin-top: 20px;
		background: $white;
	}
	h2 {
		@include headerStyles;
		background: $mediumBlue;
		color: $mediumBlue;
	}
}