.user-info {
	width: 100%;
	border-bottom: border(1px, $lightBlue);
	height: 252px;
	box-sizing: border-box;
	padding: 24px 10px;
	.profile-pic {
		display: inline-block;
		width: 40%;
		box-sizing: $boxSizing;
		img {
			width: 100%;
			max-width: 200px;
			margin: 20px auto 0;
		}
	}
	.details {
		display: inline-block;
		box-sizing: border-box;
		width: 200px;
		font-size: $smallText;
		font-weight: $lightWeight;
		float: right;
		h1 {
			margin-bottom: 5px;
		}
		p {
			margin: 5px 0;
			&.location {
				margin-top: 20px;
			}
			&.hire-date {
				margin-bottom: 30px;
				color: $medLightBlue;
				font-weight: $normalWeight;
			}
		}
		.progress {
			width: 150px;
			padding: 3px 7px;
			text-align: center;
			color: $mediumBlue;
			border: border(1px, $mediumBlue);
			border-radius: 14px;
			.yellow {
				display: inline-block;
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background: $yellow;
				position: relative;
				top: 2px;
				right: 5px;
			}
			p {
				display: inline-block;
			}
		}
	}
}

.managers {
	// * {
	// 	border: 1px solid black;
	// }
	width: 100%;
	border-bottom: border(1px, $lightBlue);
	.manager {
		display: inline-block;
		width: 50%;
		box-sizing: border-box;
		h2 {
			font-size: $smallHeader;
			background: $mediumBlue;
			color: $white;
			width: 50%;
			padding: 5px 10px;
			font-weight: $normalWeight;
			text-align: center;
		}
		img {
			height: 65px;
			display: inline-block;
			padding: 20px;
			float: left;
		}
		div {
			display: inline-block;
			margin-left: -10px;
			padding-top: 40px;
			h3 {
				font-size: $smallHeader;
			}
			p {
				font-size: $smallText;

			}
		}		
	}
	.manager:last-child {
		float: right;
		border-left: border(1px, $lightBlue);
	}
}