.user-info {
	width: 100%;
	height: 252px;
	padding: 24px 5%;
	box-sizing: $boxSizing;
	background: $white;
	border-bottom: border(1px, $lightBlue);
	@media #{$medium-screen} {
		position: absolute;
		left: 0;
		top: 50px;
		width: 70%;
		display: inline-block;
		height: 244px;
	}
	.profile-pic {
		width: 45%;
		display: inline-block;
		box-sizing: $boxSizing;
		text-align: center;
		img {
			width: 100px;
			margin: 20px auto 0;
			@media (min-width: 400px) { 
				width: 150px;	
			}	
		}
	}
	.details {
		float: right;
		width: 50%;
		display: inline-block;
		box-sizing: $boxSizing;
		font-size: $smallText;
		font-weight: $lightWeight;
		h1 {
			margin-bottom: 5px;
			font-size: 1.5em;
			@media (min-width: 400px) {
				font-size: 2em;
			}
		}
		p {
			margin: 5px 0;
			&.location {
				margin-top: 20px;
			}
			&.hire-date {
				margin-bottom: 30px;
				color: $medLightBlue;
				font-weight: $normalWeight;
			}
		}
		.progress {
			width: 120px;
			padding: 3px 7px;
			text-align: center;
			color: $mediumBlue;
			border: border(1px, $mediumBlue);
			border-radius: 14px;
			@media (min-width: 400px) {
				width: 150px;
			}
			.yellow {
				position: relative;
				top: 4px;
				right: 5px;
				display: inline-block;
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background: $yellow;
			}
			p {
				display: inline-block;
			}
		}
	}
} // end user info

.managers {
	width: 100%;
	background: $white;
	@media #{$medium-screen} {
		position: absolute;
		right: 0;
		top: 50px;
		display: inline-block;
		width: 30%;
	}
	.manager {
		display: inline-block;
		width: 50%;
		box-sizing: $boxSizing;
		border-bottom: border(1px, $lightBlue);
		border-left: border(1px, $lightBlue);
		text-align: center;
		@media (min-width: 400px) {
			text-align: left;
		}
		@media #{$medium-screen} {
			float: none;
			width: 100%;
			height: 122px;
			display: inline-block;
		}
		h2 {
			width: 60%;
			padding: 5px 0;
			font-size: $smallText;
			background: $mediumBlue;
			color: $white;
			text-align: center;
			font-weight: $lightWeight;
			@media (min-width: 400px) {
				font-size: $smallHeader;
				width: 50%;
			}
		}
		img {
			height: 65px;
			margin: 10px auto 0;
			@media (min-width: 400px) {
				float: left;
				display: inline-block;
				height: 65px;
				padding: 15px 10px;
			}
		}
		div {
			padding: 10px;
			@media (min-width: 400px) {
				display: inline-block;
				margin-left: -10px;
				padding-top: 36px;

			}
			h3 {
				font-size: $smallText;
				@media (min-width: 400px) {
					font-size: $smallHeader;
				}
			}
			p {
				font-size: $smallText;
			}
		}
		&:last-child {
			float: right;
			@media #{$medium-screen} {
				float: none;
			}
		}		
	} // end manager
} // end managers