body {
	color: $darkBlue;
	background: $tan;
	font-family: $mainFont;
}

ul {
	list-style: none;
}

img {
	border-radius: 50%;
}

.main {
	padding-top: 50px;
	width: 100%;
	box-sizing: $boxSizing;
	@media #{$small-screen} {
		//gives space for the sidebar while keeping the rest of the page fluid
		padding-left: 174px;
	}
}