.logo {
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	display: inline-block;
	background: $darkBlue;
	color: $white;
	padding: 0 40px;
	letter-spacing: .1em;
	z-index: 1;
	border-bottom: border(2px, #000);
	box-sizing: border-box;
	h1 {
		margin: 5px 0;
	}
	span {
		font-weight: 100;
		font-style: italic;
	}
}

nav {
	background: $tan;
	position: absolute;
	top: 0;
	width: 100%;
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-bottom: border(1px, $lightBlue);
	.menu {
		float: left;
		color: $mediumBlue;
		font-size: 35px;
		padding: 7.5px 10px 7.5px 190px;
		border-right: border(1px, $lightBlue);
	}
	.user-dropdown {
		float: right;
		color: $mediumBlue;
		img {
			height: 40px;
			padding: 5px 10px;

		}
		p {
			display: none;
			margin: 0;
		}
		i {
			position: relative;
			bottom: 10px;
			right: 10px;
		}
	}
}

.sidebar {
	display: none;
}