// colors
$darkBlue: #323a45;
$mediumBlue: #546f7a;
$medLightBlue: #a7b2b7;
$lightBlue: #cfd8dd;
$tan: #efebe8;
$orange: #e26f0c;
$yellow: #f9ee3d;
$green: #8bc14b;
$white: #fff;


// font
$mainFont: 'Lato', sans-serif;
$normalWeight: 400;
$lightWeight: 300;
$smallHeader: .8em;
$smallText: .7em;

// layout 
$boxSizing: border-box;